MARIADB_DATABASE="tournament"
DATABASE_HOST="localhost"
DATABASE_NAME="tournament"
DATABASE_USER="root"
DATABASE_PASSWORD="example"
DATABASE_PORT=3306
PORT=8402
JWT_SECRET=example_secret
CORS_ORIGIN=http://127.0.0.1:8401
ITG_ONLINE_URL=ws://localhost:1337/