/* Eurocup Theme Styles */

body {
  font-family: "dinpro", sans-serif;
  background-color: #242d32 !important;
  color: #f0f0f0 !important;
}

h1,
h2,
h3 {
  font-family: "NeufreitEx", sans-serif;
  color: #e0e0e0;
}

input {
  color: #000000;
}

.navbar-bg {
  background-color: #49ABD6;
}

.rankings-bg-even {
    background-color: #1E40AF !important; /* Tailwind bg-blue-900 */
}
.rankings-bg-odd {
    background-color: #2563EB !important; /* Tailwind bg-blue-700 */
}

.rankings-title, .theme-text {
  color: #49ABD6 !important;
}

.theme-text {
    color: #49ABD6 !important;
}

.bg-lighter {
    background-color: #2e8bb5 !important;
}
.border-bg-lighter {
    border-color: #1E40AF !important;
}

.animate-first-place {
  animation: first-place 0.5s infinite;
}

@keyframes first-place {
  0% {
    transform: scale(0.998);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(0.998);
  }
}


.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #000;
    color: #fff;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
}
