@import url("fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Create an animation on class animate-first-place that scales 95% to 105% */

.animate-first-place {
  animation: first-place 0.5s infinite;
}

@keyframes first-place {
  0% {
    transform: scale(0.998);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(0.998);
  }
}
