/* TagTeam Theme Styles */

body {
  font-family: "dinpro", sans-serif;
  background-color: #280202 !important;
  color: #fff !important;
}

h1,
h2,
h3 {
  font-family: "NeufreitEx", sans-serif;
  color: #fff;
}

.navbar-bg {
  background-color: #CE2B37 !important;
}

.rankings-bg-even {
  background-color: #7f1d1d !important; /* Tailwind bg-red-900 */
}
.rankings-bg-odd {
  background-color: #b91c1c !important; /* Tailwind bg-red-700 */
}

.rankings-title, .theme-text  {
  color: #f15467 !important;
}
.bg-lighter {
    background-color: #fa7c89 !important;
}
.border-bg-lighter {
    border-color: #b91c1c !important;
}

.animate-first-place {
  animation: first-place 0.5s infinite;
}

@keyframes first-place {
  0% {
    transform: scale(0.998);
  }
  50% {
    transform: scale(1.01);
  }
  100% {
    transform: scale(0.998);
  }
}
